# Essential Python packages
numpy
pandas
matplotlib
seaborn
scikit-learn
opencv-python
albumentations

# TensorFlow and Keras
tensorflow>=2.10.0

# Visualization
matplotlib
matplotlib-inline

# Deep learning data processing
imgaug

# Utility libraries
tqdm
Pillow

# groq API client (for ai_agent.py)
groq

# For handling imbalanced datasets or resampling
imbalanced-learn

python-dotenv
streamlit
